In [1]:
#!pip install nltk

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#nltk.download('averaged_perceptron_tagger')
#nltk.download('words')
#nltk.download('maxent_ne_chunker')
#plt.style.use('ggplot')
import nltk
import pickle
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Cleaned_comments_witth Label.csv')

df

,video_id,label,clean_comment,Label
0,jt2OHQh0HoQ,False,it s more accurate to call it the m 1000 becau...,0
1,jt2OHQh0HoQ,False,to be there with a samsung phone n,0
2,jt2OHQh0HoQ,False,thank gosh a place i can watch it without havi...,0
3,jt2OHQh0HoQ,False,what happened to the home button on the iphone...,0
4,jt2OHQh0HoQ,False,power is the disease care is the cure keep car...,0
...,...,...,...,...
358019,lLN1FwiqGwc,False,gasp n gasp n gasp,0
358020,lLN1FwiqGwc,False,yeah but does everybody float,0
358021,lLN1FwiqGwc,False,that meme me d ace,0
358022,lLN1FwiqGwc,False,10 43 is that miles ups hur,0
358023,lLN1FwiqGwc,False,wa ha nwa ha nwa ha,0

In [4]:
#df.sort_values(by = 'likes',ascending =False).head(10)
df_like_dislikes= pd.read_csv('Centimental_Analysis_YouTubeGB_results.csv')

# df_like_dislikes = df_like_dislikes[['likes', 'replies', 'Analysis_comments']]
# df_like_dislikes#.reset_index(inplace=True)
# df_like_dislikes= df_like_dislikes.rename(columns = {'index':'video_id'})
df_like_dislikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718453 entries, 0 to 718452
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           718453 non-null  object
 1   comment_text       718453 non-null  object
 2   likes              718453 non-null  int64
 3   replies            718453 non-null  int64
 4   negative_comments  718453 non-null  float64
 5   neutral_comments   718453 non-null  float64
 6   positive_comments  718453 non-null  float64
 7   compound_comments  718453 non-null  float64
 8   Analysis_comments  718453 non-null  object
dtypes: float64(4), int64(2), object(3)
memory usage: 49.3+ MB

In [5]:
df=pd.merge(df,df_like_dislikes)

In [6]:
df=df[['video_id','label','clean_comment','likes','replies','Analysis_comments']]
df

,video_id,label,clean_comment,likes,replies,Analysis_comments
0,jt2OHQh0HoQ,False,it s more accurate to call it the m 1000 becau...,0,0,Negative
1,jt2OHQh0HoQ,False,it s more accurate to call it the m 1000 becau...,1,0,Negative
2,jt2OHQh0HoQ,False,it s more accurate to call it the m 1000 becau...,0,0,Negative
3,jt2OHQh0HoQ,False,it s more accurate to call it the m 1000 becau...,0,0,Negative
4,jt2OHQh0HoQ,False,it s more accurate to call it the m 1000 becau...,0,0,Negative
...,...,...,...,...,...,...
200715541,XQFeShp6UIY,False,so using mechanics built into the raid is chea...,2,2,Negative
200715542,XQFeShp6UIY,False,so using mechanics built into the raid is chea...,3,4,Negative
200715543,XQFeShp6UIY,False,so using mechanics built into the raid is chea...,1,3,Negative
200715544,XQFeShp6UIY,False,so using mechanics built into the raid is chea...,0,2,Negative
200715545,XQFeShp6UIY,False,so using mechanics built into the raid is chea...,0,1,Negative

In [7]:
df.info() # have a look at the whole dataset

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200715546 entries, 0 to 200715545
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   video_id           object
 1   label              bool
 2   clean_comment      object
 3   likes              int64
 4   replies            int64
 5   Analysis_comments  object
dtypes: bool(1), int64(2), object(3)
memory usage: 9.2+ GB

In [8]:
#df.groupby('video_id')['clean_comment'].count().sort_values(ascending=False) # finding the top 1 video id has the most comments

we found the the top1 video id has a strange idname:#NAME? It seems like this video id is too sensiable to be shown. that's how i assume it. so , we leave it like this.

In [9]:
df.query('video_id == "uK4plxfJa10"').head(2)

,video_id,label,clean_comment,likes,replies,Analysis_comments
173904334,uK4plxfJa10,False,already searching a excuse because he is scare...,0,0,Negative
173904335,uK4plxfJa10,False,already searching a excuse because he is scare...,0,0,Negative

In [10]:
df['clean_comment'].fillna('none',inplace=True) # Filling missing value that we can proceed further without issues.

In [11]:
df.clean_comment.isnull().sum()

0

# Comments annalysis on Top1 videoId

# Sentiment Analysis
## Step 1. VADER Setiment Scoring, we will use SentimentIntensityAnalyzer

    this uses a "bag of words"approach
    1.stop words are removed 
    2. each word is scored and combined to a total score.

In [12]:
from nltk.sentiment import SentimentIntensityAnalyzer
from tqdm.notebook import tqdm

nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/weiling.p/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [13]:
str(df['clean_comment']).encode('utf-8')

b'0            it s more accurate to call it the m 1000 becau...\n1            it s more accurate to call it the m 1000 becau...\n2            it s more accurate to call it the m 1000 becau...\n3            it s more accurate to call it the m 1000 becau...\n4            it s more accurate to call it the m 1000 becau...\n                                   ...                        \n200715541    so using mechanics built into the raid is chea...\n200715542    so using mechanics built into the raid is chea...\n200715543    so using mechanics built into the raid is chea...\n200715544    so using mechanics built into the raid is chea...\n200715545    so using mechanics built into the raid is chea...\nName: clean_comment, Length: 200715546, dtype: object'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200715546 entries, 0 to 200715545
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   video_id           object
 1   label              bool
 2   clean_comment      object
 3   likes              int64
 4   replies            int64
 5   Analysis_comments  object
dtypes: bool(1), int64(2), object(3)
memory usage: 9.2+ GB

# run the polarity score to the entire df

In [ ]:
result = {}
for i,row in tqdm(df.iterrows(),total=len(df)):
    text = row['clean_comment']
    video_id = row['video_id']
    result[video_id]=sia.polarity_scores(text)
    
result = pd.DataFrame(result)
result = result.T
score = result.compound

def getAnalysis(score):
    if score < 0:
        return "Negative"
    elif score == 0:
        return "Neutral"
    else:
        return "Positive"
result['Analysis_comments']= result['compound'].apply(getAnalysis)

  0%|          | 0/200715546 [00:00<?, ?it/s]

In [ ]:
result.reset_index(inplace=True)
result.rename(columns = {'index':'video_id',
                         'neg':'negative_comments',
                         'neg':'negative_comments',
                         'neu':'neutral_comments',
                         'pos':'positive_comments',
                         'compound':'compound_comments'}, inplace = True)
df = pd.merge(df,result)
df[['video_id','negative_comments', 'neutral_comments', 'positive_comments', 'compound_comments','Analysis_comments']].head(5)

In [ ]:
#df.to_csv('Centimental_Analysis_YouTubeGB_results.csv',index=False,encoding='utf-8')

In [ ]:
#topid_name=df.query('video_id == "#NAME?"')
topid=df.query('video_id== "LunHybOKIjU"')[['clean_comment','likes','replies','Analysis_comments']] # finding the top 1 video id has the most comments
topid # now we have topid thathas most commnets and we can anaysis how his/her audiance feel about his videos.

In [ ]:
!pip install textblob

In [ ]:
import os
import nltk
import re
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
topid.loc[:,'clean_comment'] = topid.loc[:,'clean_comment'].str.replace('\!','',regex=True)
topid.loc[:,'clean_comment'] = topid.loc[:,'clean_comment'].str.replace('\-','',regex=True)
topid.loc[:,'clean_comment'] = topid.loc[:,'clean_comment'].str.replace('\|','',regex=True)
topid.loc[:,'clean_comment'] = topid.loc[:,'clean_comment'].str.replace('https?:\/\/\S+','',regex=True)
topid.loc[:,'clean_comment'] = topid.loc[:,'clean_comment'].str.replace('\\','',regex=True)
topid.loc[:,'clean_comment'] = topid.loc[:,'clean_comment'].str.replace('_____','',regex=True)
topid.loc[:,'clean_comment'] = topid.loc[:,'clean_comment'].str.replace('__','',regex=True)

# df.loc[:,'title'] = df.loc[:,'title'].str.replace('\!','',regex=True)
# df.loc[:,'title'] = df.loc[:,'title'].str.replace('\-','',regex=True)
# df.loc[:,'title'] = df.loc[:,'title'].str.replace('\|','',regex=True)
# df.loc[:,'title'] = df.loc[:,'title'].str.replace('#','',regex=True)
# df.loc[:,'title'] = df.loc[:,'title'].str.replace('\+',' ',regex=True)
# df.loc[:,'title'] = df.loc[:,'title'].str.replace('\(',' ',regex=True)
# df.loc[:,'title'] = df.loc[:,'title'].str.replace('\)',' ',regex=True)
# df.loc[:,'title'] = df.loc[:,'title'].str.replace('\:',' ',regex=True)
# df.loc[:,'tags'] = df.loc[:,'tags'].str.replace('\|',' ',regex=True)
# df.loc[:,'tags'] = df.loc[:,'tags'].str.replace('\"',' ',regex=True)
# df.loc[:,'category_names'] = df.loc[:,'category_names'].str.replace('\&','',regex=True)
# df.loc[:,'category_names'] = df.loc[:,'category_names'].str.replace('\-','',regex=True)
# df.loc[:,'category_names'] = df.loc[:,'category_names'].str.replace('\/','',regex=True)
# df.head()

In [ ]:
topid.head(100)

In [ ]:
text = topid['clean_comment'].sum()

In [ ]:
wordcloud = WordCloud().generate(text)

In [ ]:
wordcloud = WordCloud(background_color="white").generate(text)
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
#topid.to_csv('TopID_Comments_Analysis_YouTubeGB.csv',index=False,encoding='utf-8')

In [ ]:
#text